.cart {
  padding: 40px 0 60px;
  max-width: 1000px;
  margin: 0 auto;
}

.empty {
  display: flex;
  justify-content: center;
  transform: translateY(-75px);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .clear {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    border: 0;
    background-color: transparent;
  }

  .title {
    font-size: 24px;
    font-weight: 600;
  }
}

.list {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.bottom {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 36px;
    font-weight: 900;
  }
}
