@import "../../styles/variables";

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 280px;
  height: 280px;
  text-align: center;
}

.imageBox {
  position: relative;

  .inCartIcon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }

  .badge {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
    z-index: 1;
  }

  .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all 0.5s;
    filter: brightness(100%);
  }

  &:hover {
    .info {
      opacity: 1;
    }

    .image {
      filter: brightness(30%);
    }
  }
}

.title {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;

  @media (max-width: 250px) {
    justify-content: center;
  }
}

.price {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}

.buttons {
  display: flex;
  align-items: center;

  svg {
    cursor: pointer;
    transition: all 0.1s ease;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
