@import "../../variables";

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;

  @media (max-width: 710px) {
    flex-direction: column;
  }
}

.logo {
  display: flex;
}

.img {
  margin-right: 15px;
}

.title {
  color: #181818;
  font-size: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  font-weight: 800;
}

.text {
  color: #7b7b7b;
}

.cart {
  flex-shrink: 0;

  span {
    font-size: 18px;
    padding: 0 10px;
  }
}
