.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  @media (max-width: 470px) {
    flex-direction: column;
  }

  .image {
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 96px;
      height: 96px;
      object-fit: cover;
      transition: transform 0.6s;

      &:hover {
        transform: scale(1.2);
      }

      @media (max-width: 470px) {
        width: 256px;
        height: 256px;
      }
    }
  }

  .title {
    width: 120px;

    @media (max-width: 470px) {
      width: auto;
    }
  }
}

.count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85px;

  span {
    font-size: 24px;
    font-weight: 600;
  }

  svg {
    cursor: pointer;
  }
}

.price {
  flex-shrink: 0;
  width: 95px;
  font-size: 24px;
  font-weight: 900;

  @media (max-width: 470px) {
    width: auto;
  }
}
