.box {
  min-width: 32px;
  height: 32px;
  position: relative;

  .icon {
    position: absolute;
    top: 3px;
    left: 2px;
  }

  &--active {
    padding-left: 30px;
  }
}

.icon {
  cursor: pointer;
}
