@import "./variables";

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  max-width: 1400px;
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;

  @media (max-width: 480px) {
    width: calc(100vw - 30px);
  }
}

.container {
  max-width: 90%;
  margin: 0 auto;
}
