@import "./styles/variables";

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  max-width: 1400px;
  height: 100%;
  margin: 50px auto;
  padding-bottom: 50px;
  background-color: #fff;
  border-radius: 10px;

  @media (max-width: 540px) {
    width: calc(100vw - 40px);
  }
}

.container {
  max-width: 90%;
  margin: 0 auto;
}
